name: github-webhook-self
repository: ${TARGET_REPOSITORY}
branches:
  - ${TARGET_BRANCH}
workdir: /home/hjpark/github-webhook
commands:
  - git pull --ff-only origin ${TARGET_BRANCH}
  - /home/hjpark/Envs/github-webhook/bin/pip install -r requirements.txt
  - sudo systemctl restart github-webhook
env: {}
notify: true
enabled: true
