[Unit]
Description=GitHub Webhook Server
After=network.target

[Service]
Type=simple
User=hjpark
WorkingDirectory=/home/hjpark/github-webhook
EnvironmentFile=/home/hjpark/github-webhook/.env
ExecStart=/usr/bin/env /home/hjpark/.envs/github-webhook/bin/python /home/hjpark/github-webhook/webhook.py
Restart=always
RestartSec=3
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
